:root {
    --clr-red-accent: rgb(248, 206, 206);

    --font-size-p-min: 0.2rem;
    --font-size-p-max: 0.8rem;

    --container-size-height-max: 500px;
    --container-size-height-min: 50px;

    --container-size-width-max: 300px;
    --container-size-width-min: 225px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* Grid Container */
.grid-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

@media (min-width: 45em){


    
    .grid-body {
        width: 75%;
        margin-inline: auto;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
}


/* Post Containers */
.container {
    margin-inline: auto;
    height: clamp(var(--container-size-height-min), 20vh, var(--container-size-height-max));
    width: clamp(var(--container-size-width-min), 40vw, var(--container-size-width-max));
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    overflow: hidden;
    position: relative;
}

.container * {
    margin: 0;
    padding: 0;
}

.text-box {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 10px 30px;
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    align-items: center;

}

.text-box h5 {
    font-size: clamp(0.5rem, 10vw, 1rem);
    text-align: center;
}

.text-box p {
    font-size: clamp(var(--font-size-p-min), 10vw, var(--font-size-p-max));
    word-wrap: break-word;
    overflow-y: scroll;
    width: 90%;
    height: 90%;
    max-height: 100%;
    max-width: 100%;
    color: grey;
}

.buttons {
    grid-row: 2/3;
    background-color: var(--clr-red-accent);
    max-height: 25px;
    height: 25px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttons > * {
    padding: 1px;
    height: 20px;
    width: 20px;
}

.bt:hover {
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
}
